<div class="panel column">
  <div class="content">
    <mat-form-field *ngFor="let user of users">
      <input type="text" matInput required [(ngModel)]="user.name" />
      <button mat-icon-button color="warn" matSuffix title="delete" (click)="deleteUser(user)">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-icon-button color="primary" matSuffix title="update" (click)="updateUser(user)">
        <mat-icon>done</mat-icon>
      </button>
      <mat-error>Name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput required placeholder="Name" [(ngModel)]="name" />
      <button mat-icon-button color="primary" matSuffix title="add user" (click)="addUser(name)">
        <mat-icon>add</mat-icon>
      </button>
      <mat-error>Name is required</mat-error>
    </mat-form-field>
  </div>
</div>
